<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>自写纯CSS树状菜单</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css" />
<link href="../../css/ul-tree.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div style="width: 200px; height: 250px;border:1px solid #000;">
		<ul class="ul_tree">
			<li>
				<input type="checkbox" value="分类1" />
				<ul>
					<li>
						<input type="checkbox" value="子分类" />
						<ul>
							<li>
								<input type="checkbox" value="无子节点分类" />
							</li>
							<li>
								<input type="checkbox" value="无子节点分类" />
							</li>
							<li>
								<a href="#">功能跳转</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">功能跳转</a>
					</li>
				</ul>
			</li>
			<li>
				<input type="checkbox" value="分类2" />
				<ul>
					<li>
						<input type="checkbox" value="无子节点分类" />
					</li>
					<li>
						<input type="checkbox" value="分类" />
						<ul>
							<li>
								<a href="#">功能跳转</a>
							</li>
							<li>
								<input type="checkbox" value="无子节点分类" />
							</li>
						</ul>
					</li>
				</ul>

			</li>
			<li>
				<input type="checkbox" value="分类3" />
				<ul>
					<li>
							<a href="#">功能跳转</a>
					</li>
					<li>
							<input type="checkbox" value="无子节点分类" />
					</li>
				</ul>
			</li>
			<li>
				<input type="checkbox" value="分类4" />
				<ul>
					<li>
						<input type="checkbox" value="无子节点分类" />
					</li>
				</ul>
			</li>

		</ul>

	</div>
</body>

</html>