<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dayon.b2b2c.center.user.mapper.AdminMapper">

	<resultMap id="Admin" type="com.dayon.b2b2c.api.user.entity.Admin">
		<id property="id" column="c_id" />
		<result property="username" column="c_username" />
		<result property="password" column="c_password" />
		<result property="createTime" column="c_create_time" />
		<result property="createBy" column="c_create_by" />
		<result property="realname" column="c_realname" />
	</resultMap>


	<select id="find" resultMap="Admin">
		select * from t_yh_admin
		<where>
			<if test="id!=null">
				c_id=#{id}
			</if>
			<if test="username!=null and username!=''">
				and c_username=#{username}
			</if>
			<if test="password!=null and password!=''">
				and c_password=#{password}
			</if>
			<if test="createTime!=null">
				and c_create_time=#{createTime}
			</if>
			<if test="createBy!=null and createBy!=''">
				and c_create_by=#{createBy}
			</if>
			<if test="realname!=null and realname!=''">
				and c_realname=#{realname}
			</if>
		</where>
	</select>
	<select id="get" resultMap="Admin">
		select * from t_yh_admin where
		c_id=#{id}

	</select>
	<insert id="add">
		insert into t_yh_admin(
		c_id,
		c_username,
		c_password,
		c_create_time,
		c_create_by,
		c_realname
		)
		value
		(
		#{id},#{username},#{password},#{createTime},#{createBy},#{realname}
		)
	</insert>

	<update id="modify">
		update t_yh_admin
		<set>
			<if test="username!=null and username!=''">
				c_username=#{username}
			</if>
			<if test="password!=null and password!=''">
				,c_password=#{password}
			</if>
			<if test="createTime!=null">
				,c_create_time=#{createTime}
			</if>
			<if test="createBy!=null and createBy!=''">
				,c_create_by=#{createBy}
			</if>
			<if test="realname!=null and realname!=''">
				,c_realname=#{realname}
			</if>
		</set>
		<where>
			c_id=#{id}
		</where>

	</update>
	<update id="modify">
		update t_yh_admin
		<set>
			<if test="username!=null and username!=''">
				c_username=#{username}
			</if>
			<if test="password!=null and password!=''">
				,c_password=#{password}
			</if>
			<if test="createTime!=null">
				,c_create_time=#{createTime}
			</if>
			<if test="createBy!=null and createBy!=''">
				,c_create_by=#{createBy}
			</if>
			<if test="realname!=null and realname!=''">
				,c_realname=#{realname}
			</if>
		</set>
		<where>
			<if test="w_id!=null">
				c_id=#{w_id}
			</if>
			<if test="w_username!=null and w_username!=''">
				and c_username=#{w_username}
			</if>
			<if test="w_password!=null and w_password!=''">
				and c_password=#{w_password}
			</if>
			<if test="w_createTime!=null">
				and c_create_time=#{w_createTime}
			</if>
			<if test="w_createBy!=null and w_createBy!=''">
				and c_create_by=#{w_createBy}
			</if>
			<if test="w_realname!=null and w_realname!=''">
				and c_realname=#{w_realname}
			</if>
		</where>
	</update>

	<update id="remove">
		delete from t_yh_admin where c_id=#{id}
	</update>

</mapper>