<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.dayon.b2b2c.center.auth.mapper.ManageMapper">

	<resultMap id="Manage" type="com.dayon.b2b2c.api.auth.entity.Manage">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<result property="parentId" column="c_parent_id" />
		<result property="createTime" column="c_create_time" />
		<result property="createBy" column="c_create_by" />
		<result property="platformId" column="c_platform_id" />
	</resultMap>


	<select id="find" resultMap="Manage">
		select * from t_qx_manage
	</select>
	<select id="get" resultMap="Manage">
		select * from t_qx_manage where c_id=#{id}
	</select>
	<insert id="add" parameterType="com.dayon.b2b2c.api.auth.entity.Manage">
		insert into t_qx_manage(
		c_id,
		c_name,
		c_parent_id,
		c_create_time,
		c_create_by,
		c_platform_id
		)
		value
		(
		#{id},#{name},#{parentId},#{createTime},#{createBy},#{platformId}
		)
	</insert>

</mapper>